<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StuRegister</servlet-name>
        <servlet-class>StuRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAuthentication1</servlet-name>
        <servlet-class>UserAuthentication1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyAccountUpdate</servlet-name>
        <servlet-class>FacultyAccountUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveComplainServlet</servlet-name>
        <servlet-class>SaveComplainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplain</servlet-name>
        <servlet-class>ViewComplain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>EndSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StuRegister</servlet-name>
        <url-pattern>/StuRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAuthentication1</servlet-name>
        <url-pattern>/UserAuthentication1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyAccountUpdate</servlet-name>
        <url-pattern>/FacultyAccountUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveComplainServlet</servlet-name>
        <url-pattern>/SaveComplainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplain</servlet-name>
        <url-pattern>/ViewComplain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
